@font-face {
    font-family: Moon Light;
    src: url('../fonts/Moon Light.otf');
}
@font-face {
    font-family: Moon Bold;
    src: url('../fonts/Moon Bold.otf');
}
@font-face {
    font-family: Proxima Nova Black;
    src: url('../fonts/Proxima Nova Black.otf');
}
@font-face {
    font-family: Proxima Nova Bold;
    src: url('../fonts/Proxima Nova Bold.otf');
}
@font-face {
    font-family: Proxima Nova ExtraBold;
    src: url('../fonts/Proxima Nova Extrabold.otf');
}
@font-face {
    font-family: Proxima Nova Light;
    src: url('../fonts/Proxima Nova Light.otf');
}
@font-face {
    font-family: Proxima Nova Regular;
    src: url('../fonts/Proxima Nova Regular.otf');
}
@font-face {
    font-family: Proxima Nova Semibold;
    src: url('../fonts/Proxima Nova Semibold.otf');
}
.container{
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
}
.main-header {
    padding: 0 6%;
    display: flex;
    justify-content: space-between;
    height: 77px;
    align-items: center;
    background-color: #f7f7f7;
}
.main-menu{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 700px;
}
.logo {
    display: block;
    width: 197px;
    height: 27px;
    margin-right: 30px;
}
.main-menu li{
}
.main-menu li a {
    text-decoration: none;
    font-family: "Proxima Nova Regular", Arial, sans-serif;
    font-size: 22px;
    color: #000000;

}
.indiegogo p {
    font-size: 11px;
    margin-top: -3px;
    color: #f44141;
    line-height: 11px;
    text-align: center;
}
.screen1{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.about {
    margin-top: 40px;
    width: 50%;
}
.about__header {
    font-family: "Moon Light", Arial, sans-serif;
    text-align: center;
    font-size: 39px;
    line-height: 45px;
}
.about__cash {
    font-family: "Moon Bold", Arial, sans-serif;
    color: #f34747;
}
.about__readers{
    font-family: "Moon Bold", Arial, sans-serif;
    color: #000000;
}
.about__text{
    font-family: "Proxima Nova Semibold", Arial, sans-serif;
    color: #000000;
    font-size: 22px;
}
.about__form{
    width: 87.26%;
    margin-left: 40px;
}
.about__text span{
    color: #f34747;
}
.about__mailform{
    display: flex;
}
.scrolldown{
    cursor: pointer;
    width: 51px;
    height: 30px;
    margin: 20px auto 0 auto;
}
.btn{
    height: 60px;
    background-color: #f34747;
    border-style: none;
    border-radius: 5px;
    margin: 0;
    padding: 0 20px;
    color: #ffffff;
    font-size: 22px;
    font-family: "Moon Bold", Arial, sans-serif;
}
.textbox{
    border: 1px solid #dedede;
    box-shadow: 0 3px 5px 3px #dedede;
    flex-grow: 2;
    margin-right: 25px;
    font-size: 21px;
    font-family: "Proxima Nova Light", Arial, sans-serif;
    padding-left: 20px;
}
main{
    min-height: 100%;
    background-color: #f7f7f7;
}
.main__index {
    background: #f7f7f7 url('../img/discover.png') 0 660px no-repeat;
    background-size: 100%;
}
.screen2{
    display: flex;
    height: 100vh;
    padding-left: 35%;
}
.screen2__text{
    margin-top: 15%;
    width: 340px;
    margin-left: 60px;
    align-self: center;
}
.screen2__telephone_block{
    width: 376px;
    height: 80%;
    background: url('../img/telephone1.png') 50% 50% no-repeat;
    background-size: contain;
    align-self: center;
}
.number{
    font-family: "Proxima Nova Semibold", Arial, sans-serif;
    font-size: 30px;
    padding-bottom: 30px;
}
.features_text {
    font-family: "Proxima Nova Regular", Arial, sans-serif;
    font-size: 29px;
    line-height: 33px;
    margin-bottom: 30px;
}
.features_text span {
    color: #f34747;
}
.screen3 {
    display: flex;
    height: 100vh;
    padding-left: 35%;
    background: url('../img/buy_share.png') no-repeat 12% 50%;
    background-size: auto 50%;
}
.screen3__buy_share{
    width: 197px;
    margin-left: 7%;
    background: url('../img/buy_share.png') no-repeat 50% 50%;
    background-size: contain;
}
.screen3__telephone_block{
    width: 376px;
    height: 80%;
    background: url('../img/telephone1.png') 50% 50% no-repeat;
    background-size: contain;
    align-self: center;
}
.screen3__text{
    width: 340px;
    margin-left: 60px;
    align-self: center;
}
.screen4 {
    margin-top: 70px;
    height: 100vh;
    background: url('../img/earn.png') no-repeat 7% 200px;
    padding-left: 18.15%;
    padding-right: 9.56%;
    display: flex;
    justify-content: space-between;
}
.screen4__text {
    width: 385px;
    padding-top: 100px;
}
.screen4__telephone_block {
    background: url('../img/telephone3.png') 50% 30px no-repeat;
    width: 376px;
    height: 80%;
    background-size: contain;
    align-self: center;
    margin-left: 5%;
}
.check_score {
    width: 375px;
    height: 280px;
    background-color: #ffffff;
    box-shadow: 0 3px 10px 2px #dedede;
    text-align: center;
    font-size: 20px;
    padding-top: 25px;
}
.check_score__header {
    font-family: "Proxima Nova", Arial, sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
}
.check_score__text {
    font-family: "Proxima Nova Regular", Arial, sans-serif;
    margin-bottom: 20px;
}
.socials__items {
    display: flex;
    width: 195px;
    justify-content: space-between;
    margin: 0 auto;
}
.socials__icon {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #f34747;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

}
.socials__icon_image {
    fill: #ffffff;
    display: inline-block;
}
.socials__icon--facebook{
    height: 54%;
    width: 34%;
}
.socials__icon--twitter{
    width: 50%;
    height: 42%;
}
.socials__icon--linkedin{
    width: 45%;
    height: 45%;
}
.screen5 {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    padding-top: 20px;
}
.user {
    height: 495px;
    background-color: #ffffff;
    box-shadow: 0 3px 10px 2px #dedede;
    margin-right: 5.85%;
}
.books__item {
    background-color: #ffffff;
    box-shadow: 0 3px 10px 2px #dedede;
    margin-bottom: 50px;
    padding-right: 20px;
    display: flex;
}
.books__image{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 7.11%;
    margin-right: 5.63%;
}
.books__text{
    width: 33%;
    margin: 0 auto;
}
.books__wrapper{
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.btn--books{
    width: 100%;
    height: 47px;
    font-size: 18px;
}
.socials__icon--books{
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    border: 2px solid #000000;
}
.socials__icon_image--books {
    fill: #000000;
}
.socials__items--books {
    width: 142px;
}
.books__cost{
    font-family: "Proxima Nova Semibold", Arial, sans-serif;
    font-size: 26px;
}
.books__header{
    font-family: "Proxima Nova Regular", Arial, sans-serif;
    font-size: 22px;
    margin-bottom: 0;
}
.books__author{
    color: #898989;
    font-size: 15px;
    margin-bottom: 20px;
}
.user__influence{
    width: 300px;
    height: 100px;
    border: 2px solid #cfcfcf;
    margin: 30px auto 0 auto;
    display: flex;
    padding: 10px 17px;
    position: relative;
}
.user__influence_text {
    font-size: 20px;
    margin-bottom: 5px;
}
.user__text_block{
    font-family: "Proxima Nova Semibold", Arial, sans-serif;
    padding-left: 17px;
    position: relative;
}
.user__number{
    font-size: 44px;
    line-height: 44px;

}
.user__number::after{
    content: '';
    display: block;
    width: 28px;
    height: 28px;
    background: url("../img/check.png") 50% 0 no-repeat;
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 100px;
}
.user__header{
    font-family: "Proxima Nova Semibold", Arial, sans-serif;
    font-size: 20px;
    margin-left: 27px;
    margin-bottom: 20px;
}
.user__wrap_text{
    display: flex;
    margin-left: 27px;
}
.user__cost{
    font-family: "Proxima Nova Semibold", Arial, sans-serif;
    font-size: 36px;
    color: #ef4b4b;
    margin: 0;
    width: 75px;
}
.user__text{
    width:200px;
    font-family: "Proxima Nova Regular", Arial, sans-serif;
    font-size: 16px;
    margin-left: 16px;
    margin-bottom: 0;
}
.socials__icon--share, .socials__icon--dollar {
    fill: #ffffff;
}
.user__item{
    display: flex;
    margin-left: 27px;
    margin-bottom: 20px;
}
.socials__header{
    text-align: center;
    margin-top: 60px;
}
footer{
    background-color: #565656;
}
.footer__copyright{
    margin-bottom: 0;
}
.footer__container{
    width: 87.55%;
    height: 56px;
    line-height: 56px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: "Proxima Nova Regular", Arial, sans-serif;
    font-size: 18px;
    color: #ffffff;

}
.policy__link{
    color: #ffffff;
    text-decoration: none;
    padding-left: 40px;
}
.policy__link:hover{
    color:#f34747;
    text-decoration: none;
}
.aboutus {
    width: 68.22%;
    min-height: 100vh;
    margin: 77px auto 0 auto;
    background-color: #ffffff;
    padding-top: 45px;
    padding-left: 100px;
    padding-right: 95px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px 2px #dedede;
}
.aboutus__header{
    font-family: "Moon Light", Arial, sans-serif;
    font-size: 49px;
    margin: 0;
    text-align: center;
}
.aboutus__h2{
    font-family: "Proxima Nova Semibold",Arial,sans-serif;
    font-size: 27px;
}
.aboutus__text{
    font-family: "Proxima Nova Regular",Arial,sans-serif;
    font-size: 27px;
    line-height: 36px;
    margin: 0;
}
.aboutus__text--italic{
    font-style: italic;
    margin-bottom: 10px;
}
.aboutus__text span{
    font-family: "Proxima Nova Semibold", Arial,sans-serif;
    color: #f34747;
}
.join__wrapper{
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    width: 84.89%;
    margin: 77px auto 0 auto;
    padding-bottom: 30px;
}
.join {
    width: 50.38%;
    background-color: #ffffff;
    box-shadow: 0 3px 10px 2px #dedede;
    padding-left: 45px;
    padding-top: 45px;
    padding-right: 45px;
}
.join__header{
    font-family: "Moon Light", Arial, sans-serif;
    font-size: 43px;
    text-align: center;
    margin: 0 0 20px 0;
}
.join__text {
    font-family: "Proxima Nova Regular", Arial, sans-serif;
    font-size: 25px;
    line-height: 30px;
    margin: 0;
}
.join__h2{
    font-family: "Proxima Nova Semibold", Arial, sans-serif;
    font-size: 25px;
    margin: 20px 0 0 0;
}
.join ul {
    margin-bottom: 20px;
}
.contacts {
    margin-top: 20px;
}
.contacts__text{
    font-family: "Proxima Nova Semibold", Arial, sans-serif;
    font-size: 25px;
    margin: 0;
}
.contacts__text span {
    color: #f44141;
}
.feedback{
    width: 41.48%;
}
.feedback__header{
    font-family: "Proxima Nova Regular", Arial, sans-serif;
    font-size: 43px;
    text-align: center;
    margin: 0;
}

.feedback__form label{
    display: block;
    font-family: "Proxima Nova Regular", Arial,sans-serif;
    font-size: 24px;
    margin-top: 30px;
}
.textbox--feedback{
    height: 60px;
    margin: 0;
    width: 100%;
}
.textbox--textarea{
    width: 100%;
    resize: none;
    padding-top: 10px;
}
.btn-send{
    margin-top: 20px;
    padding: 0 40px;
}
.capcha_wrapper{
    display: flex;
    justify-content: space-between;
}
.capcha{
    width:235px;
    background: url('../img/capcha.png') 0 50% no-repeat;

}
@media(max-width: 960px){
    .main-menu--hide{
        display: none;
    }
    .close {
        position: absolute;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
        opacity: 0.3;
    }
    .close:hover {
        opacity: 1;
    }
    .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }
    .close:before {
        transform: rotate(45deg);
    }
    .close:after {
        transform: rotate(-45deg);
    }
    .main__index {
        background: #f7f7f7;
        width: 100%;
    }
    .main-header {
        align-content: center;
        z-index: 3;
    }
    .main-menu{
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        background-color: #ffffff;
    }
    .main-menu li {
        margin: 20px 0;
    }
    .main-menu li:first-child{
        margin: 0;
    }
    .menu-burger{
        display: block;
        width: 32px;
        height: 16px;
    }
    .video{
        width: 80%;
    }
    .screen1{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .about{
        width: 80%;
        margin-bottom: 30px;
    }
    .screen2,.screen3,.screen4{
        padding-left: 0;
        justify-content: center;
        background-image: none;
    }
    .screen4{
        padding-right: 0;
        padding-left: 20px;
    }
    .screen4__text{
        width: 50%;
    }
    .check_score{
        width: 100%;
        padding: 20px 10px 20px 10px;
        height: auto;
    }
    .screen5{
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }
    .user{
        margin-right: 0;
        margin-bottom: 160px;
        width: 70%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .user__influence{
        width: 96%;
        margin: 0 auto;
    }
    .books__item{
        padding-right: 20px;
    }
    .aboutus{
        width: 90%;
    }
    .join__wrapper{
        flex-direction: column;
        align-items: center;
    }
    .join, .feedback{
        width: 98%;
    }
    .join {
        margin-bottom: 40px;
    }
}
@media(max-width: 700px) {
    .logo {
        width: 163px;
        height: 22px;
    }
    .screen1{
        margin-top: 35px;
    }
    .video{
        display: none;
    }
    .about {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .about__header{
        margin: 0 auto;
        font-size: 29px;
    }
    .about__form{
        margin: 40px auto 0 auto;
    }
    .about__text{
        text-align: center;
        margin-bottom: 30px;
    }
    .about__mailform{
        flex-direction: column;
    }
    .textbox {
        height: 50px;
        margin-right: 0;
        margin-bottom: 40px;
    }
    .btn {
        display: block;
        margin: 0 auto;
    }
    .scrolldown{
        display: none;
    }
    .screen2{
        padding: 0;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 40px;
        background: #f7f7f7;
    }
    .screen2__text{
        margin: 0;
        width: 98%;
        background: #ffffff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: relative;
        height: 280px;
        box-shadow: 0 -2px 3px 0px #dedede;
    }
    .number {
        position: absolute;
        color: #f34747;
        font-size: 25px;
        font-weight: bold;
        left: 5px;
    }
    .features_text{
        font-size: 21px;
        line-height: 25px;
        width: 270px;
        text-align: center;
        margin: 25px auto 15px auto;
    }
    .screen3{
        padding: 0;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20px;
    }
    .screen3__text{
        margin: 0;
        width: 98%;
        background: #ffffff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: relative;
        height: 280px;
        box-shadow: 0 -2px 3px 0px #dedede;
    }
    .screen4{
        background-image: none;
        padding: 0;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-top: 0px;
    }
    .screen4__text{
        margin: 0 auto;
        width: 98%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-top: 0;
        position: relative;
        height: 280px;
        background: #ffffff;
        box-shadow: 0 -2px 3px 0px #dedede;
    }
    .check_score {
        display: none;
    }
    .screen5{
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        padding-left: 0;
        padding-right: 0;
    }
    .user {
        margin-bottom: 140px;
        margin-right: 0;
    }
    .books__item{
        flex-direction: column;
        align-content: center;
    }
    .books__image{
        margin: 20px auto 20px auto;
    }
    .books__header{
        text-align: center;
    }
    .books__author{
        text-align: center;
    }
    .books__cost{
        text-align: center;
    }
    .books__wrapper{
        width: 100%;
    }
    .socials__items--books{
        margin-bottom: 20px;
    }
    .btn--books{
        width: auto;
        margin-bottom: 20px;
    }
    .footer__container{
        height: auto;
        flex-direction: column;
    }
    .footer__copyright{
        text-align: center;
    }
    .policy{
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;
    }
    .policy__link{
        padding-left: 0px;
    }
    .aboutus{
        margin: 77px 8px 0 8px;
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .aboutus__header{
        font-size: 31px;
    }
    .aboutus__h2{
        font-size: 18px;
    }
    .aboutus__list{
        padding-left: 20px;
    }
    .aboutus__text{
        font-size: 18px;
    }
    .join__wrapper{
        flex-direction: column;
        width: 98%;
        margin: 0 auto;
    }
    .join {
        width: 100%;
        padding-top: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
    .join__header{
        font-size: 31px;
    }
    .join__text{
        font-size: 18px;
    }
    .join__h2{
        font-size: 18px;
    }
    .contacts__text{
        font-size: 18px;
    }
    .contacts{
        margin-bottom: 20px;
    }
    .feedback{
        width: 98%;
        margin-top: 20px;
    }
    .feedback__header{
        font-size: 28px;
    }
    .feedback__form label{
        font-size: 20px;
        margin-top: 10px;
        margin-left: 5%;
    }
    .textbox--feedback{
        width: 90%;
        display: block;
        margin: 0 auto 20px auto;
    }
    .textbox--textarea{
        height: 180px;
        width: 90%;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .capcha_wrapper {
        flex-direction: column;
    }
    .capcha {
        width: 236px;
        height: 57px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .btn-send{
        width: 90%;
    }
}
